<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Flask App</title>
    <link rel="stylesheet" href="'static/style.css'">
</head>
<body>
    <h1>Data gathering form <:</h1>
    <form action="/submit" method="POST">
        <label>Name:</label>
        <input name="name" >
        <label >Email:</label>
        <input name="email" >
        <button type="submit">Submit</button>
    </form>
</body>
</html>
